

<style>
    .message{
        color: black;
        font-size: 20px;
        line-height: 21px;
        max-width: 600px;
    }
</style>

<div class="message">
    <p>olá {{name}} foi solicitada uma troca de senha no App goBarber</p>
    <p>clique no link para trocar de senha</p>
    <a href="{{link}}">resetar minha senha</a>
    <p>caso não tenha solicitado a troca, ignore este email</p>
    <p>Obrigado !! <strong>Equipe GoBarber</strong></p>
</div>